.wrapper {
	h3 {
		display: inline;

		div {
			display:inherit;
		}
	}
	.btn {
	    margin-bottom:15px;
	}
}

td, div{
	span {
		margin-right:5px;
	}
}

.btn-sm	 {
	padding:0rem 0.3rem;
}

body, html{
 display: flex;
  min-height: 100vh;
  flex-direction: column;
}
  
#wrapper {
	 flex-grow: 1
}

footer {

}