.wrapper h3 {
  display: inline;
}

.wrapper h3 div {
  display: inherit;
}

.wrapper .btn {
  margin-bottom: 15px;
}

td span,
div span {
  margin-right: 5px;
}

.btn-sm {
  padding: 0rem 0.3rem;
}

